{% extends 'basechart.html.twig' %}

{% block title %}Modération des témoignages clients{% endblock %}

{% block body %}
{% if action == 'approve' %}
    <div class="text-center bold">Témoignage approuvé avec succès.</div>
{% elseif action == 'delete' %}
    <div class="text-center bold">Témoignage suprimé avec succès.</div>
{% endif %}
{{ include('/testimony/_testimonialslist.html.twig') }}
{% endblock %}