<h1>Formulaire de contact</h1>
<h2>Informations sur l'utilisateur : </h2>
<ul>
    <li>
        Nom : {{ name }}
    </li>
    <li>
        E-mail : {{ mail }}
    </li>
    <li>
        Téléphone :  {{ phone }}
    </li>
</ul>

<h2>
    Message ci-dessous : 
    <br />
    {{ message }}
</h2>