{% for car in cars %}
    <tr>
        <td style='word-wrap: break-word;min-width: 500px;max-width: 500px'>
            <h5 class="text-info">
                {{ car.price }}
            </h5>
        </td>
        <td class="text-center">
            {{ car.year }}
        </td>
        <td class="text-center">
            {{ car.km }}
        </td>
        <td class="text-center">
            <img src="images/{{ car.image }}">
        </td>
    </tr>
{% endfor %}