{% extends "basechart.html.twig" %}

{% block title %}Nouvel employé{% endblock %}

{% block body %}
    <h1>Nouvel employé</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('admin')}}">Retour</a>
{% endblock %}
